<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.plantlogger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeAreasActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SubAreasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RequirementActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EquipmentStatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ParameterDataEntryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ParamerterDataNoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EquipmentStatusNoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AreaCheckListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AreaCheckListNoteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ScanQRActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ParameterDataEntryInputActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>